<template>
	<div>
	  <nav-bar></nav-bar>
	  
	  <div class="container-fluid">
	    <router-view class="view" transition="test" transition-mode="out-in" keep-alive></router-view>    
	  </div>
  </div>
</template>

<script>
import NavBar from './components/Navbar'

export default {
  components: {
    'nav-bar': NavBar
  }
}
</script>

<style lang="stylus" src="./assets/stylus/app.styl"></style>

<style lang="sass">
  $icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
  @import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
</style>
<style>

</style>
