<template> 
  <div class="col-xs-6 col-xs-offset-2">
    <input class="form-control" id="addName"
      placeholder="name"
      v-model="newItem.name"
      v-on:keyup.enter="add">
    </div>
    <div class="col-xs-1 input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control"
        placeholder="price"
        v-model="newItem.price" 
        v-on:keyup.enter="add">
    </div>
  </div>
  <div class="clearfix"></div>

</template>

<script>
  import config from '../../js/config.js'
  
  export default {
    data () {
      return {
        newItem: {
          name: '',
          price: ''
        }
      }
    },
    methods: {
      /*
        add a new item to the db
       */
      add () {
        if (this.newItem.name.trim()) {
          // Get a key for a new Post.
          var newPostKey = config.db.ref().child('grocery/item').push().key
          var postData = {
            active: 1,
            name: this.newItem.name,
            price: parseFloat(this.newItem.price.replace(/,/, '.'))

          }
          var update = {}
          update['/grocery/item/' + newPostKey] = postData
          config.db.ref().update(update)
          this.reset()
        }
      },
      /**
       * reset the item value and put the focus on the name input
       */
      reset () {
        this.newItem.name = ''
        this.newItem.price = ''
        this.$nextTick(function () {
          document.getElementById('addName').focus()
        }.bind())
      }
    }
  }
</script>