<template>
  <div id="app">
    <add></add>
    <div class="col-lg-6">
      <h2>Active:</h2>
      <list active="1"></list>
    </div>
    <div class="col-lg-6">
      <h2>Completed:</h2>
      <list active="0"></list>
    </div>
  </div>
</template>

<script>
  import Add from './Add.vue'
  import List from './List.vue'

  export default {
    components: {
      Add,
      List
    }
  }
</script>