<template>
  <ul class="list-group" v-sortable="{ onUpdate: onUpdate }">
    <li class="list-group-item" 
      v-if="active == item.active" 
      v-for="(key, item) in items" 
      transition>
      <div>
        <button class="glyphicon"
          v-bind:class="{ 'glyphicon-check': item.active ,'glyphicon-unchecked': !item.active }"
          @click="complete(key, item.active)"></button>

        <label @dblclick="edit(key)" 
               v-bind:class="{ 'completed': !item.active }"
               v-if="key != editing">
                {{ item.name }} 
                <span v-if="item.price">- ${{ item.price }}</span>
        </label>

        <input class="edit" id="editInput" type="text"
          v-el:editInput
          v-if="key == editing"
          v-model="item.name"
          @blur="doneEdit(key, item)"
          @keyup.enter="doneEdit(key, item)"
          @keyup.esc="cancelEdit(todo)">
        <button class="glyphicon glyphicon-remove pull-right" 
          @click="remove(key)"></button>
      </div>
    </li>
  </ul>
  <span v-if="active == 1">Total price: ${{ totalPrice }}</span>  
</template>

<script>
  import config from '../../js/config.js'

  export default {
    data () {
      return {
        // active: false,
        editing: false,
        items: []
      }
    },
    computed: {
      /**
       * get the total price of item that are active
       * @return {int} [total price of item]
       */
      totalPrice: function () {
        var price = 0
        var active = 0
        for (var key in this.items) {
          var obj = this.items[key]
          for (var prop in obj) {
            if (prop === 'active') {
              active = obj[prop]
            }
            if (prop === 'price') {
              if (active) {
                price += obj[prop]
              }
            }
          }
        }
        return price
      }
    },
    /**
     * to show the active or completed list of item
     */
    props: ['active'],
    /*
      fetch the list from firebase
     */
    ready () {
      config.db.ref('grocery/item').on('value', function (snapshot) {
        this.items = snapshot.val()
      }.bind(this))
    },
    methods: {
      onUpdate (evt) {
        var oldInd = evt.oldIndex
        var newInd = evt.newIndex
        var itemEl = evt.item
        console.log(oldInd)
        console.log(newInd)
        console.log(itemEl)
      },
      /**
       change the visibility of the label and input to trigger the editing
       */
      edit (item) {
        this.editing = item
        this.$nextTick(function () {
          document.getElementById('editInput').focus()
        }.bind())
      },
      /**
       * save change to db
       */
      doneEdit (key, item) {
        var update = {}
        update['/grocery/item/' + key] = item
        config.db.ref().update(update)
        this.editing = false
      },
      /**
       * remove an item
       */
      remove (key) {
        var deletes = {}
        deletes['/grocery/item/' + key] = null
        config.db.ref().update(deletes)
      },
      /**
       * complete an item and put him in the other list
       */
      complete (key, active) {
        active = +!active
        var update = {}
        update['/grocery/item/' + key + '/active'] = active
        config.db.ref().update(update)
      }
    }
  }
</script>

<style lang="stylus">
button
  background-color transparent
  border 0px

.completed
  text-decoration line-through
  
.List--completed
  margin-top 50px

</style>
